name: Maintenance Test

on:
  workflow_dispatch:

jobs:
  maintenance:
    runs-on: ubuntu-latest

    steps:

    - name: Create UptimeRobot MW (JSON)
      env:
          UR_API_KEY: ${{ secrets.UPTIME_ROBOT_API_KEY }}
      run: |
          START_TIME=$(( $(date +%s) + 300 ))  # +5 хв
          curl -sS -X POST "https://api.uptimerobot.com/v2/newMWindow" \
            -H "Content-Type: application/json" \
            -d '{
              "api_key": "'"${UR_API_KEY}"'",
              "friendlyName": "deploy-maintenance",
              "type": 1,
              "startTime": '"$START_TIME"',
              "duration": 5,
              "monitorIds": [801786487,801234567]
            }'
      

    

    # -------- WAIT 5 MINUTES --------
    - name: Wait until MW auto-ends
      run: |
        echo "Sleeping for 5 minutes..."
        sleep 300


    # -------- DELETE PagerDuty MW --------
    - name: Disable PagerDuty MW
      if: env.PD_MW_ID != ''
      run: |
        curl -X DELETE "https://api.pagerduty.com/maintenance_windows/${{ env.PD_MW_ID }}" \
          -H "Authorization: Token token=${{ secrets.PAGERDUTY_API_KEY }}" \
          -H "Accept: application/vnd.pagerduty+json;version=2"
        echo "PagerDuty MW disabled"


    # -------- DELETE UptimeRobot MW --------
    - name: Disable UptimeRobot MW
      if: env.UR_MW_ID != ''
      run: |
        curl -X POST "https://api.uptimerobot.com/v2/deleteMWindow" \
          -H "Content-Type: application/x-www-form-urlencoded" \
          --data-urlencode "api_key=${{ secrets.UPTIME_ROBOT_API_KEY }}" \
          --data-urlencode "id=${{ env.UR_MW_ID }}"
        echo "UptimeRobot MW disabled"
